@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;800&display=swap');

:root {
    --green: rgb(0, 149, 0);
    --lt-green: rgb(224, 244, 196);

}
html * {
    margin: 0;
    
}
body {
    scroll-behavior: smooth;
    font: 1.125rem 'Baloo 2', Verdana, Helvetica, Arial;
    background:
        radial-gradient(white 15%, transparent 16%) 0 0,
        radial-gradient(white 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#eff9df;
    background-size:16px 16px;
}

main {
    min-height: 84vh;
}

header {
    padding: 40px 20px 100px 100px;
    background: url( '../img/greenpear.svg' ) no-repeat;
    background-size: contain;
    margin-bottom: -120px;
}
header h1 { 
    line-height: 0.8em;
    font-weight: bold;
    padding-right: 20px;
    float:left;
    transform: skew(0, -5deg);
    font-size: calc(1em + 5vw) ;  
    font-weight: 800;
    text-shadow: 
        2px 2px 0 #009500, 
        2px -2px 0 #009500, 
        -2px 2px 0 #009500, 
        -2px -2px 0 #009500, 
        2px 2px 0 #009500, 
        0px 2px 0 #009500, 
        -2px 0px 0 #009500, 
        0px -2px 0 #009500, 
        3px 5px 10px #666;
    color: #e0f4c4;
}
header h2 { 
    margin:20px;
    font-size: 1.25em;
    color: #006000;
    font-weight: 400;
}

#mainform {clear: both;}

#mainform, .summary, .common {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    padding: 20px 5%;
}

.common {
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
}

.results table {width: 100%}

#mainform > div,
.common > div {
    border:1px solid #006000;
    padding: 10px 20px;
    border-radius: 0.5em;
    color: rgba(0,96,0,100);
    background: rgba(0,96,0,.2);
    text-shadow: 1px 1px #eff9df;
}
#mainform > div label {
    font-size: x-large;
    font-weight: 600;
}
#mainform > div textarea {
    display: block;
    width: 95%;
    height: 15em;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: large;
    box-shadow: inset 3px 3px 8px #ccc;
}
#mainform > div > p {
    text-align: right;
    padding-top: 0.25em
}
#mainform > div.submit {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  background-color: transparent;
  border: none
}

#mainform [type="submit"] {
    font-size: xx-large;
    font-weight: 600;
    border-radius: 1em;
    border: 2px solid #009500;
    padding: .33em 2em;
    color: #009500;
    background: linear-gradient(#eff9df, #e0f4c4);
    box-shadow: 2px 2px 8px #999;
    text-shadow: 1px 1px #fff;
    margin: 1em 0;
}
#mainform [type="submit"]:hover {
    background: linear-gradient(#e0f4c4, #92df70);
}
#mainform [type="submit"]:active {
    box-shadow: 1px 1px 3px #999
}

/*********** Results *********/

.results, footer {
    border-top: 2px solid rgba(0,96,0,100);
    background: rgba(0,96,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0, 0.67);
    padding: 1em 0;
}

.overlap {
    text-align: center;
    text-shadow: 1px 1px 1px #006000;
    color: #eff9df;
    font-size: xx-large;
}

.flex-container {
    display: inline-flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: space-between
 }

.summary > div,
.common > div {
    border:1px solid #006000;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgba(0,96,0,100);
    background: linear-gradient(rgba(254,256,220,0.7), rgba(224,244,200,0.7));
}

.summary { 
    background: url( '../img/greenpear.svg' ) no-repeat top left;
    background-size: contain;
}

.summary h2 {
    font-size: 1.25em;
}

.common h3 {
    font-size: 1.1em;
}

 table caption {
     white-space: nowrap;
 }
 table th {
     text-align: left;
 }
 table th, table td {
    border-bottom: 1px dotted #333;
 }
 table th.matched {
     color:rgb(30, 190, 70)
 }

footer {
    font-size: 0.8em;
    text-align: center;
    padding: 0.875em;
    color: var(--lt-green);
}
footer a { 
    font-weight: bold;
    color: #fff;
}

 /* I think I meant to express the match with a meter and then forgot or something.
    TO-DO: Build meter */
meter, .fallback-meter { 
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    margin: 1.5em 0;
    height: 2em;
}
.fallback-meter span { display:block; }

meter::-webkit-meter-bar,
.fallback-meter {
    background: #333;
    border:1px solid #444;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 1.5em;
}
meter::-webkit-meter-optimum-value,
.fallback-meter span {
    background: var(--green);
    border-radius: 1.5em;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 1.5em;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 1.5em;
}