<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}?u=a" />
</head>

<body>
    <main>
        {% block main %}{% endblock %}
    </main>
    <!--
    <script src="https://unpkg.com/vue"></script>
    <script src="js/app.js"></script>
    -->
</body>

</html>