{% extends "base.html" %}
{% block title %}Pear!{% endblock %}

{% block main %}

  {% include 'includes/form.html' %}
  
  {% if overall_overlap_score == 0 %}
    <h2 class="overlap">These documents do not appear to be similar at all!</h2>

  {% elif overall_overlap_score %}
    <h2 class="overlap">These documents appear to be about {{ overall_overlap_score|round|int }}% similar overall.</h2>
    <div class="summary">
        <div class="">
            <h2>Here's what we think their text is mostly about:</h2>
            <p>{{ their_dict.summary }}</p>
        </div>
        <div class="">
            <h2>And here's what we think your text is mostly about:</h2>
            <p>{{ your_dict.summary }}</p>
        </div>
    </div>
    {% if common_overlap_score %}
    <h3 class="overlap">The most commonly used words are about {{ common_overlap_score|round|int }}% similar.</h3>

    <div class="results">
      <div class="common">
        <div>
            <h3>Common words you matched...</h3>
            <p>These words are among the most common words in both documents. 
                You're speaking the same language here.
            </p>
            <table>
                <thead>
                    <tr><th></th><th>Them</th><th>You</th></tr>
                </thead>
                {% for k, v in common_dict.items() %}
                <tr>
                    <th>{{ k }}</th>
                    <th>{{ v.0 }}</th>
                    <th>{{ v.1 }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h3>Common words you missed...</h3>
            <p>These words may be present, but they are not among your most common words. 
                You might want to talk about them more.
            </p>

            <table>
                {% for k, v in misses.items() %}
                <tr>
                    <th>{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h3>Words you liked instead...</h3>
            <p>These are the words you used the most that they didn't.</p>
            <table>
                {% for k, v in your_preferred_words.items() %}
                <tr>
                    <th>{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="phrases">
            <div>
                <h3>Their most-used phrases:</h3>
                <ul>
                    {% for phrase in their_dict.phrases %}
                    <li>{{ phrase }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Your most-used phrases:</h3>
                <ul>
                    {% for phrase in your_dict.phrases %}
                    <li>{{ phrase }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endif %}
{% endblock %}
