{% extends "base.html" %}
{% block title %}Pear!{% endblock %}

{% block main %}

{% include 'includes/form.html' %}

{% if overlap %}
<h2 class="overlap">The documents are about {{ overlap|round|int }}% similar.</h2>
<h3 class="overlap">The most commonly used words are about {{ common_overlap|round|int }}% similar.</h3>

<div class="results">
    <div class="theirs">
        <table>
            <caption>Their most common words:</caption>
            {% for k, v in their.most_common %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <h3>Their most-used phrases:</h3>
            <ul>
                {% for phrase in their.phrases %}
                <li>{{ phrase }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="yours">
        <table>
            <caption>Your most common words:</caption>
            {% for k, v in your.most_common %}
            <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            <h3>Your most-used phrases:</h3>
            <ul>
                {% for phrase in your.phrases %}
                <li>{{ phrase }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
